.about_title{
    margin-top: 32px ;
    margin-bottom: 140px;
    img{
        width: 100%;
    }
}
.about_head{
h1{
    margin-bottom: 112px;
}
.about_item{
    padding: 64px 192px;
    border-radius: 16px;
    background-color: #CDE0FA    ;
    h2{
        line-height: 37px;
        padding-top: 32px;
        padding-bottom: 16px;
    }
    .about_item_hero{
        padding-top: 112px;
        padding-bottom:96px;
    }
}
.free{
    margin: 150px 0;
}
}