.create-banners {
  @extend .flex-container;
  @extend .flex-column;

  .banners_items {
    @extend .flex-container;
    @extend .flex-column;
    gap: 72px;
    overflow: hidden;

    .banners_wrap {
      @extend .flex-container;
      @extend .flex-column;
      gap: 64px;

      button {
        @extend .font-size-22;
        @extend .font-weight-500;

        border: 2px solid map-get($colors, primary);
        border-radius: 10px;
        background-color: map-get($colors, natural);
        color: map-get($colors, primary);
        min-height: 55px;
        padding: 13px 34px;

      }

      .banners_title {
        position: relative;
        min-height: 600px;

        h2 {
          @extend .font-size-24;
          @extend .font-weight-500;
          color: map-get($colors, text10);
        }

        p {
          @extend .font-size-18;
          @extend .font-weight-400;
          color: map-get($colors, text30);
          line-height: 1.55;
        }

        img {
          width: 100%;
        }

      }

      &:last-child {

        img {
          position: absolute;
          width: auto;
          right: 0;
        }
      }
    }

    .banner_line {
      width: 100%;
      transform: translateX(110px);

      img {
        width: 100%;
      }
    }
  }
}

@media screen and (max-width: 992px) {
  .banners_wrap {
    .banners_title {
      text-align: center;
      gap: 40px;
    }

    &:last-child {
      img {
        position: relative !important;
        display: block;
        max-width: 100%;
        height: auto;
        margin: 0 auto;
      }
    }
  }

  .banner_line {
    transform: translateX(50px) !important;
  }
}