.create-signature {
    &-banners {
        @extend .flex-container;
        @extend .flex-column;
        gap: 50px;

        .design {
            @extend .flex-container;
            @extend .flex-column;
            gap: 63px;
            color: map-get($colors, text);

            &-description {

                &-text {
                    @extend .flex-container;
                    @extend .flex-column;
                    gap: 20px;

                    h2 {
                        @extend .font-size-24;
                        line-height: 1.2;
                    }

                    p {
                        @extend .font-size-18;
                        line-height: 1.55;
                    }
                }

            }

            img {
                width: 100%;
                object-fit: cover;
            }
        }

        .line {
            margin-left: 120px;

            img {
                width: 100%;
            }
        }

    }
}

@media screen and (max-width: 992px) {
    .line {
        margin-left: 20px !important;
    }
}