.create-banners {
  @extend .flex-container;
  @extend .flex-column;

  .banners_items {
    @extend .flex-container;
    @extend .flex-column;
    gap: 72px;
    padding: 0 40px;
    overflow: hidden;
    .banners_wrap {
      @extend .flex-container;
      @extend .flex-column;
      // gap: 64px;
      max-width: 1336px;
      background-color: #FFFFFF;
      border-radius: 18px;
      padding: 40px 32px;
      border: 2px solid #1A73E875;
      button {
        @extend .font-size-22;
        @extend .font-weight-500;

        border: 2px solid map-get($colors, primary);
        border-radius: 122px;
        background-color: #A3C7F6;
        border-color: transparent;
        color: map-get($colors, primary);
        min-height: 55px;
        padding: 13px 34px;

      }

      .banners_title {
        position: relative;
        // min-height: 600px;
        display: flex;
        flex-wrap: nowrap;
        gap: 20px;
        align-items: center;
        .banner_title_design {
          background-color: #FAFAFA;
          height: 336px;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          padding: 32px;
          border-radius: 9px;
        }
        .banner_title_integrate{
          background-color: #FAFAFA;
        }
        .banner_integrate{
          padding:56px 32px;
        }
        .banner_integrate_image{
          padding: 44px 40px;
        }
        .banner_right {
          background-color: #FAFAFA;
          padding: 51px 31px;
          border-radius: 9px
         
        }

        h2 {
          @extend .font-size-24;
          @extend .font-weight-500;
          color: #1A73E8
        }

        p {
          @extend .font-size-18;
          @extend .font-weight-400;
          color: map-get($colors, text30);
          line-height: 1.55;
        }

        img {
          width: 100%;
        }

        .gif {
          width: 100px;

          img {
            width: 341px;
          }

        }

        .gif1 {
          position: relative;
          right: 5px;
        }

        .gif2 {
          position: absolute;
          right: 5px;

        }

        .gif3 {
          position: absolute;
          right: 50px;
        }
      }

      &:last-child {

        img {
          position: absolute;
          width: auto;
          right: 0;
        }
      }
    }

    .banner_line {
      width: 100%;
      transform: translateX(110px);

      img {
        width: 100%; 
        border-radius: 9px
      }
    }
  }
}

@media screen and (max-width: 992px) {
  .banners_wrap {
    .banners_title {
      text-align: center;
      gap: 40px;
    }

    &:last-child {
      img {
        position: relative !important;
        display: block;
        max-width: 100%;
        height: auto;
        margin: 0 auto;
      }
    }
  }

  .banner_line {
    transform: translateX(50px) !important;
  }
}