.delete{
    .delete_head{
        gap: 35px;
        .delete_img{
            width: 220px;
            img{
                width: 100%;
            }
        }
        .delete_dashboard{
            gap: 10px;
        }
      
    }
    .delete_help{
        gap: 12px;
    }
}
.delete_wrap{
    h2{
        padding-bottom: 13px;
        line-height: 22px;
    }
    .checkbox{
        padding-top: 25px;
        padding-bottom: 40px;
    }
}