.temp24{
    background-image: url('../../../assets/images/templateBanner/temp7.png');
    width: 60%;
    height: 300px;
    margin: 0 auto;
    background-repeat: no-repeat;
    .temp24_hero{
        display: flex;
        align-items: end;
        justify-content: end  ;
        gap: 18px;
        
    }
}