.generator {


    &_banner {


        &_left {
            border-radius: 12px;

            .react-tel-input {
                position: relative;
                height: 41px;

                input {
                    height: 100%;
                }

                .flag-dropdown {
                    position: absolute;
                    top: 0;
                    left: 0;
                    height: 100%;
                }
            }

            .text {
                background-color: map-get($colors, natural);
                border-radius: 12px;
                display: grid;
                grid-template-columns: 1fr 1fr;
                gap: 15px 10px;
            }

            .templateX {
                background-color: map-get($colors, natural);
                border-radius: 12px;
                min-height: 272px;

                &-headers {
                    gap: 50px;

                    li {
                        cursor: pointer;
                        user-select: none;
                    }

                    .active-category {
                        transition: all 0.2s ease;
                        color: map-get($colors, secondary);
                    }
                }

                &-banners {
                    .url-container {
                        .url-sosial {
                            @extend .flex-container;
                            @extend .flex-column;
                            gap: 10px;
                        }
                    }
                }

                .design-container {
                    gap: 10px;
                    width: 100%;


                    img {
                        width: 25px;
                        height: 25px;
                        cursor: pointer;
                        user-select: none;
                    }

                    .font-color,
                    .background-color {
                        gap: 10px;
                    }

                    .colors-pallete {
                        @extend .flex-container;
                        gap: 10px;

                        .color {
                            cursor: pointer;
                            border: 1px solid map-get($colors, light10);
                            user-select: none;
                            border-radius: 50%;
                            width: 24px;
                            height: 24px;
                            background-color: map-get($colors, primary);
                        }
                    }
                }
            }

            .temp_wrap {
                width: 47%;
                border-radius: 25px;
                height: 30px;
            }
        }

        &_right {
            @extend .p-5;
            background-color: map-get($colors, natural);
            border-radius: 12px;
            flex-grow: 1;

            .right-regard {
                @extend .mt-4;
                @extend .p-3;
                border-radius: 8px;

                &-img {
                    img {
                        width: 100%;
                        border-radius: 5px
                    }
                }

                &-container {
                    @extend .flex-container;
                    @extend .flex-column;
                    @extend .flex-justify-space-between;
                    @extend .px-5;
                    line-height: 1.75;

                    h2 {
                        @extend .font-size-18;
                        text-transform: capitalize;
                    }

                    p {
                        @extend .font-size-14;
                        text-transform: capitalize;
                    }
                }

                &-qr {
                    @extend .flex-container;
                    @extend .flex-column;
                    @extend .flex-align-end;
                    gap: 15px;

                    .sosial-icons {
                        @extend .flex-container;
                        gap: 10px;

                        svg {
                            color: map-get($colors, primary30d);
                            height: 20px;
                            width: 20px;
                        }
                    }
                }

                &-contacts {
                    &-item {
                        @extend .flex-container;
                        @extend .flex-align-center;

                        p {
                            @extend .mx-2;
                        }
                    }
                }


            }

        }

        .btn_email {
            border-radius: 8px;
        }

        .url-container {
            width: 100%;

            .url-sosial {
                gap: 10px;

                input {
                    width: 100%;
                    border-radius: 4px;
                }
            }
        }

    }
  

}
.login {
    @extend .font-weight-700;
display: flex;
align-items: center;
justify-content: center;
    span {
        color: map-get($colors, text);
    }

    a {
        color: map-get($colors, primary);
    }
}

.free-trial {
    @extend .flex-container;
    @extend .flex-column;
    @extend .font-size-12;
    text-align: center;
    gap: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    span {
        color: map-get($colors, light);
    }

    .privacy-policy {
        color: #575757;
        a {
            color: map-get($colors, primary);
            text-decoration: underline;
            transition: all 0.2s ease;

            &:hover {
                @extend .font-weight-500;
            }
        }
    }
}
.modal_right{
    .modal_right_img{
        height: 60vh;
        padding-top: 50px;;
        img{height: 100%;

    }
    }
}
.ant-modal {
    width: 68vw !important;
    max-width: 70vw !important;
    height: 70vh !important;
    max-height: 70vh !important;
   
    margin: 0  auto !important;
   
  }
  
  .ant-modal-body {
    // height: calc(100vh - 120px) !important; /* Adjust as needed */
    overflow: auto;
   height: 643px;
  }
  
  .modal_head {
    display: flex;
    flex-direction: row;
    height: 100%;
  }
  
  .modal_left {
    flex: 1;
    padding: 20px;
  }
  
  .modal_right {
    flex: 1;
    padding: 20px;
    background-color: #f0f0f0; /* Adjust background as needed */
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .google {
    display: flex;
    align-items: center;
    background-color: #f0f0f0;
  }
  
  .google img {
    margin-right: 10px;
  }
  