.generator {


    &_banner {


        &_left {
            background-color: map-get($colors, natural);
            border-radius: 12px;

            .react-tel-input {
                position: relative;
                height: 55px;

                input {
                    height: 100%;
                }

                .flag-dropdown {
                    position: absolute;
                    top: 0;
                    left: 0;
                    height: 100%;
                }
            }

            .text {
                display: grid;
                grid-template-columns: 1fr 1fr;
            }

            .templateX {
                &-headers {
                    gap: 50px;

                    li {
                        cursor: pointer;
                        user-select: none;
                    }

                    .active-category {
                        transition: all 0.2s ease;
                        color: map-get($colors, secondary);
                    }
                }

                .design-container {
                    width: 100%;
                }
            }

            .temp_wrap {
                width: 47%;
                border-radius: 25px;
                height: 30px;
            }
        }

        &_right {
            @extend .p-5;
            background-color: map-get($colors, natural);
            border-radius: 12px;
            flex-grow: 1;

            .right-img {
                width: 20%;
                height: 20%;

                img {
                    width: 100%;
                }
            }

        }

        .btn_email {
            border-radius: 8px;
        }
    }

}