.member {
    @extend .flex-container;
    @extend .flex-column;
    gap: 28px;


    .account_wrap {
        @extend .flex-container;
        @extend .flex-column;
        // gap: 25px;
        border-radius: 12px;


        .account_head {
            background-color: #FFFFFF;
            border-radius: 12px;
            padding: 24px;

            .account_hero {
                gap: 21px;

                .box {
                    line-height: 21px;
                }

                h2 {
                    padding-bottom: 13px;
                    line-height: 22px;
                }

                .checkbox {
                    padding-top: 25px;
                    padding-bottom: 40px;
                }
            }

            .account_dels {
                width: 100%;
                display: grid;
                grid-template-columns: 1fr 1fr 1fr !important;

                button {
                    text-align: center;
                    padding: 12px 32px;
                    border-radius: 6px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }
        }


        .account_upgrade {
            border-radius: 8px !important;
            background-color: #FFFFFF !important;
            border-radius: 12px;
            padding: 24px;


            .select {
                padding: 10px 10px 10px 13px;
                margin-top: 14px;
                border-radius: 8px !important;

                .option {
                    border-radius: 8px !important;
                    border: 2px solid black;
                }
            }

            .btn-save {
                border-radius: 8px;

            }
        }

        .personal {
            background-color: #FFFFFF;
            border-radius: 12px;
            padding: 24px;

            .personal_title {
                width: 45%;
            }
        }
    }

}