.brands {
    margin-top: 72px;
    .brands-logo {   @extend .flex-container;
        @extend .flex-align-center;
        @extend .flex-justify-center;
        .logo {
            // @extend .my-3;
            @extend .flex-container;
            @extend .flex-align-center;
            @extend .flex-justify-center;

            img {
                max-width: 100px;
                object-fit: cover;
                color: black;
            }
        }
    }
    .btn_now {
        width: 35%;
        margin-bottom: 35px;
    }
    .left_brand{
       h1{
        width: 80%;
       }
    }
}

@media screen and (max-width: 992px) {
    .logo{
        margin: 20px auto;
    }
}